[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/onap-gerrit-oom-offline-installer-committers
	owner = group saml/onap-gerrit-oom-offline-installer-committers
	read = group GitHub Replication
[project]
	description = This repo contains SRC code for offline installer solution. It can be primarily used for ONAP offline deployments using OOM charts however it can be used for other offline deployments as well as it's concept is quite generic.
