---
rancher_server_url: "http://{{ hostvars[groups.infrastructure.0].ansible_host }}:8080"
rancher_remove_other_env: true
rancher_redeploy_k8s_env: true
rancher_cluster_health_state: healthy
rancher_cluster_health_check_retries: 30
kube_directory: ~/.kube
kube_server: "https://{{ ansible_host }}:8080/r/projects/{{ k8s_env_id | mandatory }}/kubernetes:6443"
rancher:
  # The following variables can be set via the UI under advanced/settings.
  # All of these affect tables in the cattle db and are uninteresting
  # to the user (they serve the internal logic of the cattle), but
  # they can eat a lot of space when a deployment is busy or faulty.
  #
  # Audit-Log is the only user-facing option here and it is represented
  # in the UI.
  #
  # Auto-purge deleted entries from most tables after this long (seconds)
  main_tables_purge_after_seconds: 28800  # 8 hours
  # Auto-purge Event entries after this long (seconds)
  events_purge_after_seconds: 28800       # 8 hours
  # Auto-purge Service Log entries after this long (seconds)
  service_log_purge_after_seconds: 86400  # 1 day
  # Auto-purge Audit Log entries after this long (seconds)
  audit_log_purge_after_seconds: 2592000  # 30 days

  # By default we don't enable local authentication (mainly due to
  # to the fact that rancher_k8s_environment.py would have to be
  # rewritten completely)
  # But if you don't need to run rancher_kubernetes playbook more
  # than once (you should not have to under the terms of a regular
  # installation), then you can safely enable it.
  auth_enabled: false
  # Set this password for the rancher admin account:
  admin_password: "admin"
