---
- name: Copy root certificate
  copy:
    src: "{{ certificates_local_dir }}/rootCA.crt"
    dest: /etc/pki/ca-trust/source/anchors/
  notify:  # handler is triggered just when file is changed
    - Extract root certificate
