---
vnc_passwd: samsung
simulated_hosts:
  http:
    - repo.infra-server
  nexus:
    - docker.elastic.co
    - docker.io
    - index.docker.io
    - gcr.io
    - k8s.gcr.io
    - nexus.{{ ansible_nodename }}
    - nexus3.onap.org
    - quay.io
    - registry-1.docker.io
    - registry.hub.docker.com
    - ghcr.io
all_simulated_hosts:
  "{{ simulated_hosts.http + simulated_hosts.nexus }}"
populate_nexus: false
helm_bin_dir: /usr/local/bin
helm_version: v3.6.3
helm3_push_version: 0.9.0
rke_kubernetes_version: v1.22.7-rancher1-1
vnc_server_image: consol/ubuntu-icewm-vnc:1.4.0
nexus3_image: sonatype/nexus3:3.15.2
dns_server_image: andyshinn/dnsmasq:2.76
nginx_server_image: own_nginx:2.0.0
chartmuseum_server_image: chartmuseum/chartmuseum
kube_prometheus_stack_enabled: false
kube_prometheus_stack_version: 32.2.1
cert_manager_version: 1.5.4
strimzi_kafka_version: 0.28.0
