authorityKeyIdentifier=keyid,issuer
basicConstraints=CA:FALSE
keyUsage = digitalSignature, nonRepudiation, keyEncipherment, dataEncipherment
subjectAltName = @alt_names

[alt_names]
{% for name in all_simulated_hosts -%}
    DNS.{{ loop.index }} = {{ name }}
{% endfor %}
