---
- name: Load VNC server image
  docker_image:
    name: "{{ vnc_server_image }}"
    load_path: "{{ infra_images_path }}/{{ vnc_server_image_tar }}"
    state: present
    timeout: 240

- name: Start VNC server container
  docker_container:
    name: vnc-server
    image: "{{ vnc_server_image }}"
    state: started
    restart_policy: unless-stopped
    ports:
      - "5901:5901"
      - "6901:6901"
    env:
      VNC_PW: "{{ vnc_passwd }}"
    timeout: 240
