[defaults]

# Define any custom roles used by applications installed by installer
# this parameter is telling ansible what additional folder it should
# browse while looking up for roles code
# relative path ./application is mapped into ansible container under
# /ansible/application where application roles should be found
roles_path = /ansible/application
log_path = /ansible/log/ansible.log

# Speed up ansible with mitogen
strategy_plugins = plugins/mitogen/ansible_mitogen/plugins/strategy
strategy = mitogen_linear

# Enable performance stats for play outputs
callback_whitelist = profile_tasks
