---
- name: Gather facts for all hosts
  hosts: all

- name: Configure etcd (RKE)
  hosts: kubernetes-etcd
  roles:
    - role: rke
      vars:
        mode: etcd

- name: Configure kubernetes cluster (RKE)
  hosts: infrastructure
  roles:
    - role: rke
      vars:
        mode: config

- name: Prepare kubernetes hosts (RKE)
  hosts: kubernetes
  roles:
    - role: rke
      vars:
        mode: node

- name: Deploy kubernetes cluster (RKE)
  hosts: infrastructure
  roles:
    - role: rke
      vars:
        mode: deploy
    - kubectl
    - helm
    - role: chartmuseum
      when: helm_version | regex_search("^v3" )
