---
- name: Run dns server container
  docker_container:
    name: dns-server
    network_mode: host
    image: "{{ dns_server_image }}"
    command: -H /simulated_hosts --log-facility=- --dns-loop-detect
    capabilities: NET_ADMIN
    volumes:
      - "{{ app_data_path }}/cfg/simulated_hosts:/simulated_hosts:ro"
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    state: started
    restart_policy: unless-stopped
    recreate: true
