---
dependency:
  name: galaxy
driver:
  name: docker
lint:
  name: yamllint
platforms:
  - name: infrastructure-server
    image: molecule-${PREBUILD_PLATFORM_DISTRO:-centos}:${PREBUILD_DISTRO_VERSION:-centos7.6}
    pre_build_image: true
    privileged: true
    override_command: false
    groups:
      - infrastructure
      - kubernetes-etcd
      - kubernetes-control-plane
      - kubernetes
  - name: kubernetes-node-1
    image: molecule-${PREBUILD_PLATFORM_DISTRO:-centos}:${PREBUILD_DISTRO_VERSION:-centos7.6}
    pre_build_image: true
    privileged: true
    override_command: false
    groups:
      - kubernetes
      - kubernetes-node
provisioner:
  name: ansible
  env:
    ANSIBLE_ROLES_PATH: ../../../../test/roles
    ANSIBLE_LIBRARY: ../../../../library
  inventory:
    group_vars:
      all:
        cluster_config_dir: /opt/onap/cluster
  options:
    e: "app_data_path=/opt/onap"
  lint:
    name: ansible-lint
scenario:
  name: default
verifier:
  name: testinfra
  lint:
    name: flake8
